body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #222;
  color: white;
  flex-direction: column;
  font-family: Arial, sans-serif;
}

.container {
  text-align: center;
  position: relative;
}

.lp {
  width: 400px;
  height: 400px;
  background: url("/plaat.png") no-repeat center/cover;
  border-radius: 50%;
  margin: 20px auto;
  animation: spin 3s linear infinite;
}

.active {
  animation-play-state: running;
}

.paused {
  animation-play-state: paused;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.tonearm {
  width: 150px;
  position: absolute;
  right: -20px;
  top: 40px;
  transform-origin: top right;
  transition: transform 0.8s cubic-bezier(0.25, 1, 0.5, 1.2);
  transform: rotate(-45deg);
  z-index: 2;
}

.tonearm.active {
  transform: rotate(-15deg);
}
.tonearm.active-delayed {
  transition: transform 0.8s ease-in-out 0.3s;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  background-color: #ff4500;
  color: white;
  border-radius: 5px;
}

button:hover {
  background-color: #ff6347;
}

.deezer-container {
  text-align: center;
  margin-top: 30px;
}

.search-input {
  padding: 10px;
  width: 250px;
  font-size: 16px;
  margin-right: 10px;
}

.search-btn {
  padding: 10px;
  cursor: pointer;
  font-size: 16px;
}

.albums {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.album-item {
  margin: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  cursor: pointer;
  border-radius: 8px;
  text-align: center;
}

.album-cover {
  width: 150px;
  border-radius: 8px;
}

.tracks {
  margin-top: 20px;
}

.track-item {
  margin-bottom: 10px;
}
