body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #222;
  color: white;
  flex-direction: column;
  font-family: Arial, sans-serif;
}

.container {
  text-align: center;
}

.lp {
  width: 400px;
  height: 400px;
  background: url("/plaat.png") no-repeat center/cover;
  border-radius: 50%;
}

.spinning {
  animation: spin 3s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button {
  padding: 15px 25px;
  font-size: 24px;
  border: none;
  cursor: pointer;
  background-color: #ff4500;
  color: white;
  border-radius: 5px;
}

button:hover {
  background-color: #ff6347;
}
